<!DOCTYPE html>
<html>

<head>
    <title>JVictor | Skills</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8"> <!-- important to show special chars -->
    <link rel="icon" type="image/png" href="./img/code-tags.png">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app" style="display: none;">
        <v-app>
            <v-main id="main">
                <v-container v-if="isLoading" class="align-center justify-center appContainer black" fluid fill-height>
                    <v-sheet class="transparent" transition="fade-transition" width="182">
                        <v-progress-linear indeterminate class="white" color="grey darken-3"></v-progress-linear>
                    </v-sheet>
                </v-container>
                <v-container v-else class="px-5 py-0 grey lighten-2 d-flex flex-column align-center justify-space-between elevation-10 " fluid fill-height>
                    <v-sheet class="transparent elevation-0" height="10%">
                        <v-sheet class="pa-3 d-flex flex-wrap align-start justify-space-around rounded-b-lg elevation-3" v-cloak>
                            <v-tooltip v-for="social in socialMedia" :key="social.name" bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <span class="ma-1 mx-1 elevation-0" v-bind="attrs" v-on="on">
                                        <a :href="social.url" target="_blank" style="text-decoration: none">
                                            <v-sheet class="mr-2 rounded logo">
                                                <v-icon large color="black darken-1"> {{social.icon}}</v-icon> {{$vuetify.breakpoint.width > minimumScreenWidth ? social.profile : ''}}
                                            </v-sheet>
                                        </a>
                                    </span>
                                </template>
                                {{social.tooltip}}
                            </v-tooltip>
                        </v-sheet>
                    </v-sheet>
                    <div id="overlay_div" style="outline: rgba(0,0,0,1) solid 10000px; z-index: 10;">{{devSettings.isProductionMode ? '' : 'isProductionMode: false'}}</div>
                    <v-sheet class="pa-5 d-flex flex-column align-center justify-center rounded-lg transparent elevation-0" width="90%" max-width="1400" height="75%" max-height="900">
                        <v-sheet v-if="isMobile" class="d-flex flex-column align-center transparent elevation-0">
                            <v-sheet class="my-3 pa-3 text-center rounded-lg elevation-2 mx-auto" max-width="300">
                                PLEASE ROTATE YOUR DEVICE
                                <v-icon large color="grey darken-1"> mdi-phone-rotate-landscape </v-icon>
                            </v-sheet>
                            <v-sheet class="mt-10 text-center transparent grey--text text--darken-2" max-width="300">
                                For better user experience, it is recommended 1600x900 as a minimum screen resolution.
                            </v-sheet>
                        </v-sheet>

                        <v-sheet v-else class="transparent" width="100%" height="100%" min-width="720" min-height="280" style="position: relative;">
                            <v-sheet class="ml-1 elevation-0" style="position: absolute; z-index: 999; left: 100%;">
                                <v-menu offset-x content-class="rounded-lg elevation-10 grey" :close-on-content-click="true" open-on-hover>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn id="menu_btn" class="mr-1 transparent" v-bind="attrs" v-on="on" icon style="position: absolute;">
                                            <v-icon class="transparent" size="48">mdi-dots-vertical</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-sheet class="d-flex flex-column align-center justify-center pa-2 rounded-lg menu grey--text elevation-0" width="282">
                                        <span v-if="!isAllTechsInitialFadedIn" class="text-subtitle-2 font-weight-medium">please wait opening animations...</span>
                                        <span class="text-h6 font-weight-bold grey--text ">Filters</span>
                                        <v-sheet class="d-flex flex-row align-center justify-space-around text-center pa-2 elevation-0 grey--text text--darken-3 font-weight-medium">
                                            <v-sheet class="text-end elevation-0" width="182">Used in this website </v-sheet>
                                            <v-sheet class=" ml-2  d-flex flex-column align-center justify-center elevation-0 " width="69">
                                                <v-switch :disabled="!isAllTechsInitialFadedIn" v-model="filters.isShowThisWebsiteTechs" class="mt-0 ml-5" inset dense hide-spin-buttons hide-details
                                                    @change="toggleFilter('isShowThisWebsiteTechs')"></v-switch>
                                            </v-sheet>
                                        </v-sheet>
                                        <v-sheet class="d-flex flex-row align-center justify-space-around text-center pa-2 elevation-0 grey--text text--darken-3 font-weight-medium">
                                            <v-sheet class="text-end elevation-0" width="182">Professional experience </v-sheet>
                                            <v-sheet class=" ml-2  d-flex flex-column align-center justify-center elevation-0 " width="69">
                                                <v-switch :disabled="!isAllTechsInitialFadedIn" v-model="filters.isShowProfessionalExperience" class="mt-0 ml-5" inset dense hide-spin-buttons
                                                    hide-details @change="toggleFilter('isShowProfessionalExperience')"></v-switch>
                                            </v-sheet>
                                        </v-sheet>
                                        <v-sheet class="d-flex flex-row align-center justify-space-around text-center pa-2 elevation-0 grey--text text--darken-3 font-weight-medium">
                                            <v-sheet class="text-end elevation-0" width="182">Personal projects </v-sheet>
                                            <v-sheet class=" ml-2  d-flex flex-column align-center justify-center elevation-0 " width="69">
                                                <v-switch :disabled="!isAllTechsInitialFadedIn" v-model="filters.isShowPersonalProjects" class="mt-0 ml-5" inset dense hide-spin-buttons hide-details
                                                    @change="toggleFilter('isShowPersonalProjects')"></v-switch>
                                            </v-sheet>
                                        </v-sheet>
                                        <span class="mt-5 text-h6 font-weight-bold grey--text  ">Settings</span>
                                        <v-sheet class="d-flex flex-row align-center justify-space-around text-center pa-2 elevation-0 grey--text text--darken-3 font-weight-medium">
                                            <v-sheet class="text-end elevation-0" width="182">Grayscale palette </v-sheet>
                                            <v-sheet class=" ml-2  d-flex flex-column align-center justify-center elevation-0 " width="69">
                                                <v-switch v-model="settings.isGrayscalePalette" class="mt-0 ml-5" inset dense hide-spin-buttons hide-details
                                                    @change="toggleSetting('isGrayscalePalette')"></v-switch>
                                            </v-sheet>
                                        </v-sheet>
                                        <v-sheet class="d-flex flex-row align-center justify-space-around text-center pa-2 elevation-0 grey--text text--darken-3 font-weight-medium">
                                            <v-sheet class="text-end elevation-0" width="182">Animations</v-sheet>
                                            <v-sheet class=" ml-2  d-flex flex-column align-center justify-center elevation-0 " width="69">
                                                <v-switch v-model="settings.isAnimationsEnabled" class="mt-0 ml-5" inset dense hide-spin-buttons hide-details
                                                    @change="toggleSetting('isAnimationsEnabled')"></v-switch>
                                            </v-sheet>
                                        </v-sheet>
                                    </v-sheet>
                                </v-menu>
                            </v-sheet>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn id="rotate_btn" class="ml-1 transparent" icon style="position: absolute; left: 100%; top: 50px;" @click="rotate" v-bind="attrs" v-on="on"
                                        :disabled="!isAllTechsInitialFadedIn">
                                        <v-icon class="transparent" size="42">mdi-rotate-3d-variant</v-icon>
                                    </v-btn>
                                </template>
                                <v-sheet class="transparent text-center white--text">
                                    Rotate
                                </v-sheet>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-progress-linear v-if="!isAllTechsInitialFadedIn" v-bind="attrs" v-on="on" indeterminate color="grey"
                                        style="position: absolute; left: 100%; top: 105px; width: 28px;" class="ml-2">
                                    </v-progress-linear>
                                </template>
                                <v-sheet class="transparent text-center white--text">
                                    Opening animations running...
                                </v-sheet>
                            </v-tooltip>
                            <v-sheet class="transparent" width="100%" height="100%" style="perspective: 5000px;">
                                <v-sheet class="content-container rounded-lg elevation-10" id="content-container">
                                    <v-sheet class="content-container-front rounded-lg">
                                        <v-sheet v-for="tech in techs" key="tech.name" class="elevation-0">
                                            <v-menu offset-y :content-class="'rounded-lg grey '+ (isShowingSkillsSideOfContent && isAllTechsInitialFadedIn ? ' elevation-10 ' :' elevation-0 ') "
                                                :close-on-content-click="false" open-on-hover>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-hover v-slot="{ hover }">
                                                        <v-sheet :class="itemClasses[tech.classType] + ' itemContent'+tech.classType + ' item '" :style="'top: '+tech.top+'; left: '+tech.left+';'"
                                                            :elevation="3" :id="tech.name+'_tech'" v-bind="attrs" v-on="on">
                                                            <!-- :elevation="hover ? itemsHovers[tech.classType] : 3" vuetify hover + css hover CRASH -->
                                                            {{tech.name}}
                                                        </v-sheet>
                                                    </v-hover>
                                                </template>
                                                <v-sheet v-if="isShowingSkillsSideOfContent && isAllTechsInitialFadedIn" class="pa-3" max-width="600">
                                                    <v-sheet v-if="tech.description" class="pb-1 transparent text-wrap" v-html="tech.description"></v-sheet>
                                                    <v-sheet class="mb-0 text-center align-center justify-center">
                                                        <span class="grey--text text--darken-0 font-weight-medium">SKILL LEVEL</span>
                                                        <v-sheet class="d-flex align-center justify-center">
                                                            <v-icon v-for="n in tech.skillLevel" color="yellow darken-1">mdi-star</v-icon>
                                                            <v-icon v-for="n in [1,2,3].splice(tech.skillLevel)" color="grey darken-1">mdi-star</v-icon>
                                                            <!-- {{skillLevels[tech.skillLevel-1]}} -->
                                                            <span v-if="tech.expYears > 0" class="ml-5 text-h6">{{tech.expYears}}+ year{{tech.expYears > 1 ? 's': ''}}</span>
                                                            <span v-else class="ml-5 text-h6"> &lt;1 year </span>
                                                        </v-sheet>
                                                    </v-sheet>
                                                    <v-sheet v-if="tech.projectsAvailable && tech.projectsAvailable.length > 0" class="mt-3 text-center">
                                                        <span class="grey--text text--darken-0 font-weight-medium">PROJECTS</span>
                                                        <v-sheet v-for="project in tech.projectsAvailable" class="d-flex align-center justify-center">
                                                            <v-tooltip bottom>
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <span class="ma-1 mx-1 elevation-0" v-bind="attrs" v-on="on">
                                                                        <v-sheet class="mx-1 rounded project">
                                                                            <a :href="project.url" target="_blank">{{project.name}}</a>
                                                                        </v-sheet>
                                                                    </span>
                                                                </template>
                                                                project screenshot/gif here
                                                            </v-tooltip>
                                                            <a :href="project.githubRepoURL" target="_blank" style="text-decoration: none">
                                                                <v-sheet class="ml-1 rounded">
                                                                    <v-icon color="black darken-1">mdi-github</v-icon>
                                                                </v-sheet>
                                                            </a>
                                                        </v-sheet>
                                                    </v-sheet>
                                                    <v-sheet v-if="devSettings.isShowUsefulLinks" v-for="url in tech.relatedContent" key="url.href">
                                                        <span class="grey--text text--darken-0 font-weight-medium">Useful Links</span>
                                                        <a :href="url.href" target="_blank">{{url.a}}</a>
                                                    </v-sheet>
                                                </v-sheet>
                                            </v-menu>
                                        </v-sheet>
                                    </v-sheet>
                                    <v-sheet class="content-container-back rounded-lg">
                                        Projects List
                                    </v-sheet>
                                </v-sheet>
                            </v-sheet>
                        </v-sheet>
                    </v-sheet>
                    <v-sheet class="d-flex flex-column justify-end transparent elevation-0" height="10%" max-width="1200">
                        <v-hover v-slot="{ hover }">
                            <v-sheet class="rounded-t-lg elevation-5">
                                <v-sheet v-if="hover" class="px-3 pt-2 text-wrap text-center text-caption text--secondary transparent">
                                    Responsive web page built from scratch with <b>VUE.JS</b>, using <b>JAVASCRIPT</b>, <b>HTML</b> and <b>CSS</b>.
                                    In addition, to faster and beauty design I used <b>VUETIFY</b> UI library and some <b>MATERIAL DESIGN ICONS</b>.
                                    Hosted in a Linux <b>UBUNTU</b> dedicated server at <b>DIGITALOCEAN</b> cloud infraestructure. Version control by
                                    <b>GIT</b> and <b>GITHUB</b>. Reverse proxy with <b>NGINX</b>. <b>SSL</b> certification with <b>CERTBOT</b> |
                                    screen: {{$vuetify.breakpoint.width}}x{{$vuetify.breakpoint.height}} | isMobile: {{isMobileLastStatus}}
                                </v-sheet>
                                <v-sheet class="pa-3 transparent">
                                    <v-sheet class="text-caption text-center"> 2022 <a href="https://github.com/jvictorjs" target="_blank">@jvictorjs</a>
                                    </v-sheet>
                                </v-sheet>
                            </v-sheet>
                        </v-hover>
                    </v-sheet>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.10/dist/vuetify.js"></script>
    <script type="module">
        import { TECHS, PROJECTS, SOCIAL_MEDIA } from "./data.js";

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

            data() {
                return {
                    devSettings: {
                        isProductionMode: true,
                        isShowUsefulLinks: false,
                    },
                    isMobileLastStatus: true,
                    isLoading: true,
                    isShowingSkillsSideOfContent: true,
                    isAllTechsInitialFadedIn: false,
                    isOpeningAnimationsRunning: false,
                    minimumScreenWidth: 900,
                    minimumScreenHeight: 400,
                    itemClasses: {
                        1: 'text-h3 font-weight-bold text-center ',
                        2: 'text-h4 font-weight-medium text-center ',
                        3: 'text-h5 text-center ',
                        4: 'text-h6 text-center ',
                        5: 'text-subtitle-1 text-center'
                    },
                    itemsHovers: {
                        1: 20,
                        2: 13,
                        3: 11,
                        4: 9,
                        5: 7,
                    },
                    skillLevels: ["Beginner", "Intermediate", "Advanced"],
                    filters: {
                        isShowThisWebsiteTechs: false,
                        isShowProfessionalExperience: false,
                        isShowPersonalProjects: false,
                    },
                    settings: {
                        isGrayscalePalette: false,
                        isAnimationsEnabled: true,
                    },
                    techs: TECHS,
                    projects: PROJECTS,
                    socialMedia: SOCIAL_MEDIA,
                    allTechsElementsIds: [],
                }
            },
            created() {
                console.log('created ' + new Date());
                this.allTechsElementsIds = TECHS.map(t => t.name + '_tech');
            },
            mounted() {
                console.log('mounted ' + new Date())
                setTimeout(() => {
                    document.querySelector('#app').style.display = 'inline'
                    this.parseTechsData()
                    setTimeout(() => {
                        this.isLoading = false
                        this.menuOverlayOpening();
                        setTimeout(() => { this.openingAnimations() }, 500)
                    }, this.devSettings.isProductionMode ? 2300 : 300);
                }, 300);
            },
            watch: {
                // whenever newIsMobileLastStatus changes, this function will run
                isMobileLastStatus(newIsMobileLastStatus, oldIsMobileLastStatus) {
                    console.log('isMobile changed to', newIsMobileLastStatus)
                    if (!newIsMobileLastStatus) {
                        this.openingAnimations()
                        if (this.isAllTechsInitialFadedIn) { setTimeout(() => { this.applyFadeIn(this.allTechsElementsIds); }, 300) }
                    }
                }
            },
            computed: {
                isMobile() {
                    console.log('isMobile computed = ' + this.$vuetify.breakpoint.width + 'x' + this.$vuetify.breakpoint.height)
                    const isCurrentMobile = this.$vuetify.breakpoint.width < this.minimumScreenWidth || this.$vuetify.breakpoint.height < this.minimumScreenHeight;
                    this.isMobileLastStatus = isCurrentMobile
                    return isCurrentMobile
                }
            },
            methods: {
                rotate() {
                    console.log('rotate')
                    const getCurrentTransformDegreesValue = () => {
                        let currentValue = document.getElementById('content-container').style.getPropertyValue('transform');
                        if (currentValue) {
                            return Number(currentValue.substring(currentValue.indexOf('(') + 1, currentValue.indexOf('deg')))
                        } else return 0;
                    }
                    const rotateY180deg = () => { document.getElementById('content-container').style.setProperty('transform', 'rotateY(' + (getCurrentTransformDegreesValue() + 180) + 'deg)') }
                    rotateY180deg();
                },
                parseTechsData() {
                    this.techs.map(tech => { tech.projectsAvailable = this.projects.filter(project => project.techsNames.includes(tech.name)) })
                },
                openingAnimations() {
                    if (!this.isAllTechsInitialFadedIn && !this.isOpeningAnimationsRunning) {
                        if (!this.isMobile) {
                            if (this.devSettings.isProductionMode) {
                                this.isOpeningAnimationsRunning = true;
                                console.log('running opening animations...')
                                setTimeout(() => {
                                    this.applyFadeIn(TECHS.filter(t => t.classType === 1).map(t => t.name + '_tech'));
                                    setTimeout(() => {
                                        this.applyFadeIn(TECHS.filter(t => t.classType === 2).map(t => t.name + '_tech'));
                                        setTimeout(() => {
                                            this.applyFadeIn(TECHS.filter(t => t.classType === 3).map(t => t.name + '_tech'));
                                            setTimeout(() => {
                                                this.applyFadeIn(TECHS.filter(t => t.classType === 4).map(t => t.name + '_tech'));
                                                setTimeout(() => {
                                                    this.applyFadeIn(TECHS.filter(t => t.classType === 5).map(t => t.name + '_tech'));
                                                    setTimeout(() => {
                                                        this.menuOverlayFocus();
                                                        setTimeout(() => {
                                                            this.isOpeningAnimationsRunning = false;
                                                            this.isAllTechsInitialFadedIn = true;
                                                            this.setCSSvariableValue('itemMinimumOpacity', 0.09)
                                                            console.log('opening animations ended')
                                                        }, this.settings.isAnimationsEnabled ? 5000 : 0)
                                                    }, this.settings.isAnimationsEnabled ? 1000 : 0);
                                                }, this.settings.isAnimationsEnabled ? 2700 : 0);
                                            }, this.settings.isAnimationsEnabled ? 2900 : 0);
                                        }, this.settings.isAnimationsEnabled ? 2700 : 0);
                                    }, this.settings.isAnimationsEnabled ? 2000 : 0);
                                }, this.settings.isAnimationsEnabled ? 1500 : 0);
                            } else {
                                setTimeout(() => {
                                    this.setCSSvariableValue('itemMinimumOpacity', 0.09)
                                    this.applyFadeIn(this.allTechsElementsIds);
                                    this.isAllTechsInitialFadedIn = true;
                                    this.isOpeningAnimationsRunning = false;
                                }, 300);
                            }
                        }
                    }
                },
                toggleSetting(settingName) {
                    console.log('toggleSetting', settingName)
                    this.settings.settingName = !this.settings.settingName
                    this.applySettings()
                },
                toggleFilter(filterName) {
                    console.log('toggleFilter', filterName)
                    this.filters.filterName = !this.filters.filterName
                    this.applyFilters();
                },
                applySettings() {
                    if (this.settings.isGrayscalePalette) {
                        this.setCSSvariableValue('itemContent1BGcolor', 'rgb(165,165,165)')
                        this.setCSSvariableValue('itemContent2BGcolor', 'rgb(190,190,190)')
                        this.setCSSvariableValue('itemContent3BGcolor', 'rgb(202,202,202)')
                        this.setCSSvariableValue('itemContent4BGcolor', 'rgb(222, 222, 222)')
                        this.setCSSvariableValue('itemContent5BGcolor', 'rgb(235, 235, 235)')
                    } else {
                        this.setCSSvariableValue('itemContent1BGcolor', 'rgb(248, 169, 23)')
                        this.setCSSvariableValue('itemContent2BGcolor', 'rgb(147, 228, 147)')
                        this.setCSSvariableValue('itemContent3BGcolor', 'lightblue')
                        this.setCSSvariableValue('itemContent4BGcolor', 'rgb(207, 207, 207)')
                        this.setCSSvariableValue('itemContent5BGcolor', 'rgb(235, 235, 235)')
                    }
                    if (this.settings.isAnimationsEnabled) {
                        this.setCSSvariableValue('fadeInDuration', '1.3s')
                        this.setCSSvariableValue('fadeOutDuration', '1.3s')
                    } else {
                        this.setCSSvariableValue('fadeInDuration', '0.1s')
                        this.setCSSvariableValue('fadeOutDuration', '0.1s')
                    }
                },
                setCSSvariableValue(propName, propVal) { // custom propertie = CSS variables
                    document.querySelector(':root').style.setProperty('--' + propName, propVal)
                },
                applyFilters() {
                    console.log('applyFilters')
                    const techsToFadeIn = TECHS.filter(t =>
                        (this.filters.isShowThisWebsiteTechs && t.flags.thisProj)
                        ||
                        (this.filters.isShowProfessionalExperience && t.flags.pro)
                        ||
                        (this.filters.isShowPersonalProjects && t.flags.personal)
                        ||
                        (!this.filters.isShowThisWebsiteTechs && !this.filters.isShowProfessionalExperience && !this.filters.isShowPersonalProjects))
                        .map(t => t.name + '_tech')
                    this.applyFadeIn(techsToFadeIn)
                    const techsToFadeOut = TECHS.filter(t => !techsToFadeIn.includes(t.name + '_tech')).map(t => t.name + '_tech')
                    this.applyFadeOut(techsToFadeOut)
                },
                menuOverlayOpening() {
                    setTimeout(() => { this.applyFadeOut(['overlay_div']); }, 500);
                },
                menuOverlayFocus() {
                    if (!this.isMobile) {
                        setTimeout(() => {
                            this.applyFadeIn(['overlay_div']);
                            document.getElementById('overlay_div').style.setProperty('outline', 'rgba(0,0,0,.75) solid 10000px');
                            document.getElementById('menu_btn').classList.replace("transparent", 'white');
                            setTimeout(() => {
                                setTimeout(() => { document.getElementById('menu_btn').classList.replace("white", 'transparent'); }, this.settings.isAnimationsEnabled ? 1000 : 0);
                                this.applyFadeOut(['overlay_div']);
                                setTimeout(() => { document.getElementById('overlay_div').style.removeProperty('outline'); }, this.settings.isAnimationsEnabled ? 1600 : 0)
                            }, this.settings.isAnimationsEnabled ? 1500 : 0);
                        }, this.settings.isAnimationsEnabled ? 1500 : 0);
                    }
                },
                applyFadeOut(elementsIdsArray) {
                    elementsIdsArray.map(el => {
                        const element = document.getElementById(el)
                        if (element) {
                            element.classList.remove("fadeIn")
                            element.classList.add("fadeOut")
                        } else {
                            console.warn('element doesnt exist =', el)
                        }
                    })
                },
                applyFadeIn(elementsIdsArray) {
                    elementsIdsArray.map(el => {
                        const element = document.getElementById(el)
                        if (element) {
                            element.classList.remove("fadeOut")
                            element.classList.add("fadeIn")
                        } else {
                            console.warn('element doesnt exist =', el)
                        }
                    })
                }
            }
        })

    </script>
</body>

</html>